/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 abr 2025, 11:12:14 a. m.
    Author     : P3E003-G
*/

.Clase {
    text-align: center;
    padding-right: auto;
    padding-left: auto;
}

h1, h2{ 
    text-align: center;
}

body{
    background-color: #ff6666;
}